<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.laigeoffer.pmhub.project.mapper.ProjectTaskMapper">
    <select id="queryMyCreatedTaskList" resultType="com.laigeoffer.pmhub.project.domain.vo.project.task.TaskResVO">
        select pt.id as taskId, pt.project_id, pt.status, pt.task_name, pt.created_time, ps.stage_name from pmhub_project_task pt left join pmhub_project_stage ps on pt.project_stage_id = ps.id
        where pt.deleted = 0 and pt.created_by = #{username}
        <if test="projectId != null and projectId != ''">
            and pt.project_id =#{projectId}
        </if>
        order by pt.created_time desc
    </select>
    <select id="queryMyExecutedTaskList" resultType="com.laigeoffer.pmhub.project.domain.vo.project.task.TaskResVO">
        select pt.id as taskId, pt.project_id, pt.status, pt.task_name, pt.created_time, ps.stage_name from pmhub_project_task pt left join pmhub_project_stage ps on pt.project_stage_id = ps.id
        where pt.deleted = 0 and pt.user_id = #{userId}
        <if test="projectId != null and projectId != ''">
            and pt.project_id =#{projectId}
        </if>
        order by pt.created_time desc
    </select>
    <select id="queryMyPartookTaskList" resultType="com.laigeoffer.pmhub.project.domain.vo.project.task.TaskResVO">
        select pt.id as taskId, pt.project_id, pt.status, pt.task_name, pt.created_time, ps.stage_name from pmhub_project_task pt
            inner join pmhub_project_member pm on pt.id = pm.pt_id
            left join pmhub_project_stage ps on pt.project_stage_id = ps.id
        where pt.deleted = 0 and pm.type = 'task' and pm.user_id = #{userId}
        <if test="projectId != null and projectId != ''">
            and pt.project_id =#{projectId}
        </if>
        order by pt.created_time desc
    </select>
    <select id="detail" resultType="com.laigeoffer.pmhub.project.domain.vo.project.task.TaskResVO">
        select p.cover,ps.id as projectStageId, pt.begin_time, pt.end_time, pt.close_time,pt.created_by,pt.created_time,pt.updated_time,pt.description,pt.execute_status,pt.status,pt.user_id,pt.project_id,p.project_name,ps.stage_name
             ,pt.task_flow,pt.task_name,pt.task_priority,pt.task_process,pt.close_time
               from pmhub_project_task pt
            left join pmhub_project p on pt.project_id = p.id
            left join pmhub_project_stage ps on pt.project_stage_id = ps.id
        where pt.id = #{taskId}
    </select>
    <select id="queryChildTask" resultType="com.laigeoffer.pmhub.project.domain.vo.project.task.TaskResVO">
        select pt.id as taskId, pt.begin_time, pt.end_time, pt.close_time,pt.created_by,pt.created_time,pt.updated_time,pt.description,pt.execute_status,pt.status,pt.user_id,pt.project_id,p.project_name,ps.stage_name
             ,pt.task_flow,pt.task_name,pt.task_priority,pt.task_process
        from pmhub_project_task pt
                 left join pmhub_project p on pt.project_id = p.id
                 left join pmhub_project_stage ps on ps.id = pt.project_stage_id
        where pt.task_pid = #{taskId} order by pt.created_time desc
    </select>
    <select id="list" resultType="com.laigeoffer.pmhub.project.domain.vo.project.task.TaskResVO">
        select ptp.approved, ptp.instance_id as procInsId, ptp.deployment_id as deployId, ptp.definition_id, ptp.task_id as taskProcessId,p.project_name, pt.task_process,pt.id as taskId, pt.task_name, ps.stage_name, su.nick_name as executor, pt.status, pt.execute_status, pt.task_priority, su2.nick_name as createdBy, pt.created_time,pt.close_time,pt.begin_time,pt.end_time from pmhub_project_task pt
        left join pmhub_project p on p.id = pt.project_id
        left join pmhub_project_member pm on pt.id = pm.pt_id
        left join pmhub_project_stage ps on pt.project_stage_id = ps.id
        left join sys_user su on su.user_id = pt.user_id
        left join sys_user su2 on su2.user_name = pt.created_by
        left join pmhub_project_task_process ptp on pt.id = ptp.extra_id
        where pt.deleted = 0 and pm.type = 'task' and pm.user_id = #{userId}
        <if test="data.taskName != null and data.taskName != ''">
            and pt.task_name = #{data.taskName}
        </if>
        <if test="data.projectId != null and data.projectId != ''">
            and pt.project_id = #{data.projectId}
        </if>
        <if test="data.stageCode != null">
            and ps.stage_code = #{data.stageCode}
        </if>
        <if test="data.executor != null and data.executor != ''">
            and su.nick_name = #{data.executor}
        </if>
        <if test="data.createdBy != null and data.createdBy != ''">
            and su2.nick_name = #{data.createdBy}
        </if>
        <if test="data.executeStatus != null">
            and pt.execute_status = #{data.executeStatus}
        </if>
        <if test="data.status != null">
            and pt.status = #{data.status}
        </if>
        <if test="data.taskPriority != null">
            and pt.task_priority = #{data.taskPriority}
        </if>
        order by pt.created_time desc
    </select>
    <select id="taskList" resultType="com.laigeoffer.pmhub.project.domain.vo.project.task.TaskResVO">
        select ptp.approved, ptp.instance_id as procInsId, ptp.deployment_id as deployId, ptp.definition_id, ptp.task_id as taskProcessId,pt.project_id,p.project_name,pt.task_process,pt.id as taskId, pt.task_name, ps.stage_name, su.nick_name as executor, pt.status, pt.execute_status, pt.task_priority, su2.nick_name as createdBy, pt.created_time,pt.close_time,pt.begin_time,pt.end_time
        from pmhub_project_task pt
        left join pmhub_project p on pt.project_id = p.id
        left join pmhub_project_stage ps on pt.project_stage_id = ps.id
        left join sys_user su on su.user_id = pt.user_id
        left join sys_user su2 on su2.user_name = pt.created_by
        left join pmhub_project_task_process ptp on pt.id = ptp.extra_id
        where pt.deleted = 0 and pt.project_id = #{data.projectId}
        <if test="data.taskName != null and data.taskName != ''">
            and pt.task_name = #{data.taskName}
        </if>
        <if test="data.stageCode != null">
            and ps.stage_code = #{data.stageCode}
        </if>
        <if test="data.executor != null and data.executor != ''">
            and su.nick_name = #{data.executor}
        </if>
        <if test="data.createdBy != null and data.createdBy != ''">
            and su2.nick_name = #{data.createdBy}
        </if>
        <if test="data.executeStatus != null">
            and pt.execute_status = #{data.executeStatus}
        </if>
        <if test="data.status != null">
            and pt.status = #{data.status}
        </if>
        <if test="data.taskPriority != null">
            and pt.task_priority = #{data.taskPriority}
        </if>
        order by pt.created_time desc
    </select>
    <select id="exportAll" resultType="com.laigeoffer.pmhub.project.domain.vo.project.task.TaskExportVO">
        select pt.task_name, p.project_name, ps.stage_name, su.nick_name as executor, pt.status, pt.execute_status, pt.task_priority, su2.nick_name as createdBy, pt.created_time from pmhub_project_task pt
        left join pmhub_project_member pm on pt.id = pm.pt_id
        left join pmhub_project p on p.id = pt.project_id
        left join pmhub_project_stage ps on pt.project_stage_id = ps.id
        left join sys_user su on su.user_id = pt.user_id
        left join sys_user su2 on su2.user_name = pt.created_by
        where pt.deleted = 0 and pm.type = 'task' and pm.user_id = #{userId}
    </select>
    <select id="export" resultType="com.laigeoffer.pmhub.project.domain.vo.project.task.TaskExportVO">
        select pt.task_name, p.project_name, ps.stage_name, su.nick_name as executor, pt.status, pt.execute_status, pt.task_priority, su2.nick_name as createdBy, pt.created_time from pmhub_project_task pt
        left join pmhub_project p on p.id = pt.project_id
        left join pmhub_project_stage ps on pt.project_stage_id = ps.id
        left join sys_user su on su.user_id = pt.user_id
        left join sys_user su2 on su2.user_name = pt.created_by
        where pt.deleted = 0
        <if test="taskIdList != null and taskIdList.size() > 0">
            and pt.id in
            <foreach item="taskId" index="index" collection="taskIdList" open="(" separator="," close=")">
                #{taskId}
            </foreach>
        </if>
    </select>
    <select id="queryTaskNotifyJob" resultType="com.laigeoffer.pmhub.project.domain.vo.project.task.TaskNotifyDTO">
        select p.id as projectId,p.msg_notify, p.notify_day,p.status,pt.id as taskId,pt.task_name,pt.user_id,pt.close_time,su.user_wx_name,su.user_name
        from pmhub_project p
        left join pmhub_project_task pt on p.id = pt.project_id
        left join sys_user su on pt.user_id = su.user_id
        where p.deleted = 0 and p.msg_notify = 1 and pt.deleted = 0 and pt.execute_status != 2
    </select>
    <select id="queryTaskNotifyJob2" resultType="com.laigeoffer.pmhub.project.domain.vo.project.task.TaskNotifyDTO">
        select p.id as projectId,p.msg_notify, p.notify_day,p.status,pt.id as taskId,pt.task_name,pt.user_id,pt.close_time,su.user_wx_name,su.user_name
        from pmhub_project p
                 left join pmhub_project_task pt on p.id = pt.project_id
                 left join sys_user su on pt.user_id = su.user_id
        where p.deleted = 0 and pt.deleted = 0 and pt.execute_status != 2
    </select>
    <select id="queryVxUserName" resultType="java.lang.String">
        select user_wx_name from sys_user where user_id = #{userId}
    </select>
    <select id="queryUserName" resultType="java.lang.String">
        select user_name from sys_user where user_id = #{userId}
    </select>
    <select id="queryNickName" resultType="java.lang.String">
        select nick_name from sys_user where user_name = #{username}
    </select>
    <select id="queryApproved" resultType="java.lang.String">
       select approved from pmhub_materials_approval_set where type = 'task' and extra_id = #{taskId}
    </select>
    <select id="queryProjectStatus" resultType="java.lang.Integer">
        select status from pmhub_project where id = #{projectId}
    </select>
    <select id="queryProjectsStatus" resultType="com.laigeoffer.pmhub.project.domain.Project">
        select * from pmhub_project p where p.deleted = 0
        <if test="projectIds != null and projectIds.size() > 0">
            and p.id in
            <foreach item="projectId" index="index" collection="projectIds" open="(" separator="," close=")">
                #{projectId}
            </foreach>
        </if>
    </select>
</mapper>